Hoeveel banen waren er in 2018?  
Wat is in de jaren 2013-2018 het maximaal aantal personen werkzaam geweest in de Landbouw, bosbouw en visserij?   
Werken er meer mannen of meer vrouwen in de gezondheidszorg?   
Wat is de procentuele stijging in arbeidsjaren tussen 2015 en 2014?   
Welk type banen (werkenden en zelfstandigen) is het meest gestegen in de periode 2013-2018?

In [1]:
from google.colab import drive

drive.mount('/content/gdrive')

wd =  '/content/gdrive/My Drive/MITW/week3/data/'

Mounted at /content/gdrive

In [2]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv(wd+'Dataset1 week 9.csv', sep=";")

In [8]:
df

,Geslacht,Bedrijfstakken/branches (SBI 2008),Perioden,Onderwerp,Type werkenden,Waarde
0,Mannen,"A Landbouw, bosbouw en visserij",2013,Werkzame personen,Werknemers,68
1,Mannen,"A Landbouw, bosbouw en visserij",2013,Werkzame personen,Zelfstandigen,66
2,Mannen,"A Landbouw, bosbouw en visserij",2013,Banen,Werknemers,75
3,Mannen,"A Landbouw, bosbouw en visserij",2013,Banen,Zelfstandigen,89
4,Mannen,"A Landbouw, bosbouw en visserij",2013,Arbeidsjaren,Werknemers,56
...,...,...,...,...,...,...
1915,Vrouwen,T Huishoudens,2018,Banen,Zelfstandigen,0
1916,Vrouwen,T Huishoudens,2018,Arbeidsjaren,Werknemers,13
1917,Vrouwen,T Huishoudens,2018,Arbeidsjaren,Zelfstandigen,0
1918,Vrouwen,T Huishoudens,2018,Gewerkte uren,Werknemers,23
1919,Vrouwen,T Huishoudens,2018,Gewerkte uren,Zelfstandigen,0

In [ ]:
#Hoeveel banen waren er in 2018?
df[(df['Onderwerp'] == 'Banen') & (df['Perioden'] == 2018)]['Waarde'].sum()

10564

In [ ]:
#Wat is in de jaren 2013-2018 het maximaal aantal personen werkzaam geweest in de Landbouw, bosbouw en visserij?

df[(df['Bedrijfstakken/branches (SBI 2008)'] == 'A Landbouw, bosbouw en visserij')
    & (df['Onderwerp'] == 'Werkzame personen')].groupby('Perioden').sum().max()

Waarde    200
dtype: int64

In [ ]:
set(df['Bedrijfstakken/branches (SBI 2008)'])

{'A Landbouw, bosbouw en visserij',
 'B Delfstoffenwinning',
 'C Industrie',
 'D Energievoorziening',
 'E Waterbedrijven en afvalbeheer',
 'F Bouwnijverheid',
 'G Handel',
 'H Vervoer en opslag',
 'I Horeca',
 'J Informatie en communicatie',
 'K FinanciÃ«le dienstverlening',
 'L Verhuur en handel van onroerend goed',
 'M Specialistische zakelijke diensten',
 'N Verhuur en overige zakelijke diensten',
 'O Openbaar bestuur en overheidsdiensten',
 'P Onderwijs',
 'Q Gezondheids- en welzijnszorg',
 'R Cultuur, sport en recreatie',
 'S Overige dienstverlening',
 'T Huishoudens'}

In [ ]:
#Werken er meer mannen of meer vrouwen in de gezondheidszorg?

mannen = df[(df['Bedrijfstakken/branches (SBI 2008)'] == 'Q Gezondheids- en welzijnszorg')
            & (df['Geslacht'] == 'Mannen')
            & (df['Onderwerp'] == 'Werkzame personen')]

vrouwen = df[(df['Bedrijfstakken/branches (SBI 2008)'] == 'Q Gezondheids- en welzijnszorg')
            & (df['Geslacht'] == 'Vrouwen')
            & (df['Onderwerp'] == 'Werkzame personen')]



if mannen['Waarde'].sum() > vrouwen['Waarde'].sum():
    print('mannen')
else:
    print('vrouwen')

vrouwen

In [ ]:
#Wat is de procentuele stijging in arbeidsjaren tussen 2015 en 2014
jaar2015 = df[(df['Perioden'] == 2015) & (df['Onderwerp'] == 'Arbeidsjaren')]['Waarde'].sum()
jaar2014 = df[(df['Perioden'] == 2014) & (df['Onderwerp'] == 'Arbeidsjaren')]['Waarde'].sum()

jaar2015 / jaar2014

1.0127075812274369

In [1]:
#Welk type banen (werkenden en zelfstandigen) is het meest gestegen in de periode 2013-2018? 

w2013 = df[(df['Onderwerp'] == 'Banen') & (df['Perioden'] == 2013)]
w2013 = w2013[['Bedrijfstakken/branches (SBI 2008)','Waarde']].groupby('Bedrijfstakken/branches (SBI 2008)').sum()


w2018 = df[(df['Onderwerp'] == 'Banen') & (df['Perioden'] == 2018)]
w2018 = w2018[['Bedrijfstakken/branches (SBI 2008)','Waarde']].groupby('Bedrijfstakken/branches (SBI 2008)').sum()


w2018['Waarde 2013'] = w2013['Waarde']
w2018['verschil'] = w2018['Waarde'] - w2013['Waarde']



w2018[w2018['verschil'] == w2018['verschil'].max()].index[0]

NameError: name 'df' is not defined