# Voorbeeldopdracht week 9

In [1]:
import pandas as pd

Hieronder worden enkele basisanalyses uitgelegd in Python. 
De dataset is een CBS dataset over werkgelegenheid. De kolommen zijn 
* geslacht, 
* bedrijfstak, 
* Perioden, in jaren, 
* Onderwerp, welke manier om werkgelegenheid te meten
* Waarde, de uiteindelijke waarde. Bij aantallen in duizenden, bij uren in miljoen uren

In [7]:
# Inlezen
data = pd.read_csv('Dataset1 week 9.csv', sep=';')
data

,Geslacht,Bedrijfstakken/branches (SBI 2008),Perioden,Onderwerp,Type werkenden,Waarde
0,Mannen,"A Landbouw, bosbouw en visserij",2013,Werkzame personen,Werknemers,68
1,Mannen,"A Landbouw, bosbouw en visserij",2013,Werkzame personen,Zelfstandigen,66
2,Mannen,"A Landbouw, bosbouw en visserij",2013,Banen,Werknemers,75
3,Mannen,"A Landbouw, bosbouw en visserij",2013,Banen,Zelfstandigen,89
4,Mannen,"A Landbouw, bosbouw en visserij",2013,Arbeidsjaren,Werknemers,56
...,...,...,...,...,...,...
1915,Vrouwen,T Huishoudens,2018,Banen,Zelfstandigen,0
1916,Vrouwen,T Huishoudens,2018,Arbeidsjaren,Werknemers,13
1917,Vrouwen,T Huishoudens,2018,Arbeidsjaren,Zelfstandigen,0
1918,Vrouwen,T Huishoudens,2018,Gewerkte uren,Werknemers,23
1919,Vrouwen,T Huishoudens,2018,Gewerkte uren,Zelfstandigen,0

In [8]:
# Aantallen rijen en kolommen
data.shape

(1920, 6)

In [10]:
# Unieke categorien per kolom
for kolom in ['Geslacht', 'Bedrijfstakken/branches (SBI 2008)', 'Perioden', 'Onderwerp', 'Type werkenden']:
    print(data[kolom].unique())

data['Perioden'].unique()

['Mannen' 'Vrouwen']
['A Landbouw, bosbouw en visserij' 'B Delfstoffenwinning' 'C Industrie'
 'D Energievoorziening' 'E Waterbedrijven en afvalbeheer'
 'F Bouwnijverheid' 'G Handel' 'H Vervoer en opslag' 'I Horeca'
 'J Informatie en communicatie' 'K Financiële dienstverlening'
 'L Verhuur en handel van onroerend goed'
 'M Specialistische zakelijke diensten'
 'N Verhuur en overige zakelijke diensten'
 'O Openbaar bestuur en overheidsdiensten' 'P Onderwijs'
 'Q Gezondheids- en welzijnszorg' 'R Cultuur, sport en recreatie'
 'S Overige dienstverlening' 'T Huishoudens']
[2013 2014 2015 2016 2017 2018]
['Werkzame personen' 'Banen' 'Arbeidsjaren' 'Gewerkte uren']
['Werknemers' 'Zelfstandigen']

array([2013, 2014, 2015, 2016, 2017, 2018], dtype=int64)

In [16]:
# Check voor missende waarden

data.isna().sum()

Geslacht                              0
Bedrijfstakken/branches (SBI 2008)    0
Perioden                              0
Onderwerp                             0
Type werkenden                        0
Waarde                                0
dtype: int64

In [33]:
# Aantal Werkzame in 2017
data.loc[(data['Perioden']==2017) & (data['Onderwerp']=='Werkzame personen'), 'Waarde'].sum()

data[(data["Perioden"] ==2017) & (data["Onderwerp"] == "Werkzame personen")]["Waarde"].sum()

9155

In [34]:
# Minimaal aantal banen in Informatie en communicatie over de jaren
# Eerst filteren
data2 = data.loc[(data['Bedrijfstakken/branches (SBI 2008)']=='J Informatie en communicatie') & 
                 (data['Onderwerp']=='Banen'), :] 
# Daarna optellen per jaar
data3 = data2.groupby(['Perioden'])['Waarde'].sum().reset_index()
# Dan minimum berekenen
data3['Waarde'].min()

286

In [35]:
# Meer gewerkte uren voor mannen of vrouwen in het onderwijs?
# Eerst filteren
data4 = data.loc[(data['Onderwerp']=='Gewerkte uren') & 
                 (data['Bedrijfstakken/branches (SBI 2008)']=='P Onderwijs'), :]
# Dan draaitabel
pd.pivot_table(data4, index=['Perioden', 'Onderwerp'], columns=['Geslacht'], values='Waarde', aggfunc='sum')

Geslacht                Mannen  Vrouwen
Perioden Onderwerp
2013     Gewerkte uren     286      365
2014     Gewerkte uren     286      372
2015     Gewerkte uren     285      379
2016     Gewerkte uren     288      394
2017     Gewerkte uren     292      402
2018     Gewerkte uren     296      411

In [37]:
# Gewerkte uren en personen per jaar
data5 = pd.pivot_table(data, index=['Perioden'], columns=['Onderwerp'], values='Waarde', aggfunc='sum').reset_index()
data5

Onderwerp  Perioden  Arbeidsjaren  Banen  Gewerkte uren  Werkzame personen
0              2013          6937   9749          12352               8732
1              2014          6925   9758          12438               8725
2              2015          7013   9880          12560               8803
3              2016          7156  10037          12849               8940
4              2017          7345  10283          13157               9155
5              2018          7561  10564          13507               9409

In [38]:
# Procentuele stijging arbeidsjaren 2018-2013
data5.loc[data5['Perioden'] == 2018, 'Arbeidsjaren'].values[0] / data5.loc[data5['Perioden'] == 2013, 'Arbeidsjaren'].values[0]

1.0899524290038922

In [39]:
# Procentuele stijging alle typen
data5.loc[data5['Perioden'] == 2018, ['Arbeidsjaren', 'Banen', 'Gewerkte uren', 'Werkzame personen']].values / data5.loc[data5['Perioden'] == 2013, ['Arbeidsjaren', 'Banen', 'Gewerkte uren', 'Werkzame personen']].values

array([[1.08995243, 1.08359832, 1.09350712, 1.07753092]])

## Uitwerking vraag 5 huiswrkopdracht

In [40]:
# Vergelijking zelfstandigen en werkenden
for onderwerp in ['Werkzame personen' 'Banen' 'Arbeidsjaren' 'Gewerkte uren']:
    data6 = pd.pivot_table(data, index=['Perioden', 'Onderwerp'], columns=['Type werkenden'], values='Waarde', aggfunc='sum').reset_index()
    pd.DataFrame(data6.loc[data6['Perioden'] == 2018, ['Werknemers', 'Zelfstandigen']].values / data6.loc[data6['Perioden'] == 2013, ['Werknemers', 'Zelfstandigen']].values)

In [41]:
pd.DataFrame(data6.loc[data6['Perioden'] == 2018, ['Werknemers', 'Zelfstandigen']].values / data6.loc[data6['Perioden'] == 2013, ['Werknemers', 'Zelfstandigen']].values)

          0         1
0  1.079931  1.141343
1  1.075654  1.114573
2  1.083900  1.131463
3  1.075783  1.086326